<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
          <div class="navbar-brand">
              <a href="/">珠峰博客</a>
          </div>
      </div>
      <div>
          <ul class="nav navbar-nav">
              <li><a href="/">首页</a></li>
              <li><a href="/user/signUp">注册</a></li>
              <li><a href="/user/signIn">登录</a></li>
              <li><a href="/user/signOut">退出</a></li>
              <li><a href="/article/add">发表文章</a></li>
          </ul>
      </div>
  </div>
</nav>
<div class="container">